@model UjalaCityNews1.Models.HomeIndexContent
@{
    ViewBag.Title = "Home Page";
}


<section class="bg-accent section-space-bottom-less4">
    <div class="container">
        <div class="row tab-space2">
            <div class="col-md-8 col-sm-12 mb-4">
                <div class="main-slider1 img-overlay-slider">
                    <div class="bend niceties preview-1">
                        <div id="ensign-nivoslider-3" class="slides">
                            @if (Model.HomeSlider.Any())
                            {
                                for (var i = 0; i < Model.HomeSlider.Count; i++)
                                {
                                    <img src="@Model.HomeSlider[i].ImagePath" alt="slider" title="#slider-direction-@i" />
                                }
                            }
                        </div>
                        @if (Model.HomeSlider.Any())
                        {
                            for (var i = 0; i < Model.HomeSlider.Count; i++)
                            {
                                <div id="slider-direction-@i" class="t-cn slider-direction">
                                    <div class="slider-content s-tb slide-1">
                                        <div class="title-container s-tb-c">
                                            <div class="text-left pl-50 pl20-xs">
                                                <div class="post-date-light d-none d-sm-block">
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            </span>@Model.HomeSlider[i].DateString
                                                        </li>
                                                    </ul>
                                                </div>
                                                @*<div class="slider-title"><a href="/home/index/@Model.HomeSlider[i].TitleSlug"></a>@Model.HomeSlider[i].Title</div>*@
                                                <div class="slider-title">@Model.HomeSlider[i].Title</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="item-box-light-md-less30 ie-full-width">
                    <div class="row">
                        <div class="author-info bg-accent item-shadow-1">
                            <div class="media media-none-xs" style="padding-left:30px;padding-top:30px">
                                <img src="~/Content/img/mam002.jpg" alt="author" class="img-fluid rounded-circle">
                                <div class="media-body pt-10 media-margin30">
                                    <h3 class="size-lg mb-5">Manju Devi</h3>
                                    <div class="post-by mb-5">By Admin</div>
                                </div>
                            </div>
                            <div class="news-details-layout3">
                                <blockquote cite="#" class="bg-accent ">
                                    Srem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                    text ever since the 1500s. Lorem Ipsum is simply . Srem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                    text ever since the 1500s. Lorem Ipsum is simply .
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</section>
<!-- More Area Start Here -->
@if (Model.PostCatWise.Any())
{
    foreach (var cat in Model.PostCatWise)

    {
        <section class="bg-body section-space-less30">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="topic-border color-hollywood-cerise mb-30">
                            <div class="topic-box-lg color-hollywood-cerise">@cat.CategoryItem</div>
                        </div>
                        <div class="row">
                            @foreach (var innerItem in cat.Posts)
                            {
                                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                    <div class="mb-25">
                                        <a class="img-opacity-hover" href="single-news-1.html">
                                            <img src="@innerItem.ImagePath" alt="news" class="img-fluid width-100 mb-15">
                                        </a>
                                        <h3 class="title-medium-dark size-s" style="font-size:13px">
                                            <a href="/Home/News/@innerItem.Slug">@innerItem.EnglishTitle</a>
                                        </h3>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
<!-- Latest News Area Start Here -->
<section class="bg-body section-space-less30">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="topic-border color-cutty-sark mb-30 width-100">
                    <div class="topic-box-lg color-cutty-sark">लाइफस्टाइल</div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-3.html">
                        <img src="~/Content/img/news/news20.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="#">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-2.html">
                        <img src="~/Content/img/news/news21.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="#">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-1.html">
                        <img src="~/Content/img/news/news22.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="#">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="topic-border color-pomegranate mb-30 width-100">
                    <div class="topic-box-lg color-pomegranate">टेक्नोलॉजी</div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-1.html">
                        <img src="~/Content/img/news/news24.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="#">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-2.html">
                        <img src="~/Content/img/news/news25.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="#">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-3.html">
                        <img src="~/Content/img/news/news26.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="#">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="topic-border color-web-orange mb-30 width-100">
                    <div class="topic-box-lg color-web-orange">मनोरंजन</div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="single-news-1.html">
                        <img src="~/Content/img/news/news28.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="#">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
                <div class="media mba-30">
                    <a class="img-opacity-hover" href="#">
                        <img src="~/Content/img/news/news29.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="#">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
                <div class="media mba-10">
                    <a class="img-opacity-hover" href="#">
                        <img src="~/Content/img/news/news30.jpg" alt="news" class="img-fluid1">
                    </a>
                    <div class="media-body">
                        <h3 class="title-medium-dark size-md mb-none">
                            <a href="#">स्त्री वेल्फेयर संस्था द्वारा महिलाओं को किया गया कैंसर के प्रति जागरूक</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="ne-banner-layout1 mb-50 mt-20-r text-center">
                    <a href="#">
                        <img src="~/Content/img/banner/banner2.jpg" alt="ad" class="img-fluid1">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest News Area End Here -->
<!-- Top Story Area Start Here -->
<section class="bg-body section-space-less30">
    <div class="container">
        <div class="ne-isotope">
            <div class="featuredContainer" style="position: relative; height: 492.773px;">
                <div class="row tenies" style="position: absolute; left: 0px; top: 0px;">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="topic-border color-apple mb-30 width-100">
                                    <div class="topic-box-lg color-apple">पॉलिटिक्स</div>
                                    <div class="more-info-link">
                                        <a href="/Home/Category/राजनीति">
                                            More
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row keep-items-2-md">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-6">
                                <div class="mb-25 position-relative">
                                    <a class="img-opacity-hover">
                                        <img src="~/Content/img/news/news110.jpg" alt="news" class="img-fluid width-100 mb-15">
                                    </a>
                                    <div class="post-date-dark">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>January 17, 2023
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="title-medium-dark size-md">
                                        <a href="details.aspx">ममता बनर्जी ने की 6 उम्मीदवारों की घोषणा, इन दो नए चेहरों को मिली जगह</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-6">
                                <div class="mb-25 position-relative">
                                    <a class="img-opacity-hover">
                                        <img src="~/Content/img/news/news111.jpg" alt="news" class="img-fluid width-100 mb-15">
                                    </a>
                                    <div class="post-date-dark">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>February 10, 2023
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="title-medium-dark size-md">
                                        <a href="details.aspx">ममता बनर्जी अपनी जिम्मेदारी से बच नहीं सकती' पंचायत चुनाव में हुई हिंसा पर भाजपा ने टीएमसी को चौतरफा घेरा</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-6">
                                <div class="mb-25 position-relative">
                                    <a class="img-opacity-hover">
                                        <img src="~/Content/img/news/news112.jpg" alt="news" class="img-fluid width-100 mb-15">
                                    </a>
                                    <div class="post-date-dark">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>March 06, 2023
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="title-medium-dark size-md">
                                        <a href="details.aspx">ममता बनर्जी अपनी जिम्मेदारी से बच नहीं सकती' पंचायत चुनाव में हुई हिंसा पर भाजपा ने टीएमसी को चौतरफा घेरा</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-6">
                                <div class="mb-25 position-relative">
                                    <a class="img-opacity-hover">
                                        <img src="~/Content/img/news/news113.jpg" alt="news" class="img-fluid width-100 mb-15">
                                    </a>
                                    <div class="post-date-dark">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>May 17, 2023
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="title-medium-dark size-md">
                                        <a href="details.aspx">ममता बनर्जी अपनी जिम्मेदारी से बच नहीं सकती' पंचायत चुनाव में हुई हिंसा पर भाजपा ने टीएमसी को चौतरफा घेरा</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="topic-border color-cutty-sark mb-30 width-100">
                                    <div class="topic-box-lg color-cutty-sark">नौकरी </div>
                                    <div class="more-info-link">
                                        <a href="/Home/Category/नौकरी">
                                            More
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row keep-items-2-md">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-6">
                                <div class="mb-25 position-relative">
                                    <a class="img-opacity-hover">
                                        <img src="~/Content/img/news/news114.jpg" alt="news" class="img-fluid width-100 mb-15">
                                    </a>
                                    <div class="post-date-dark">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>July 17, 2023
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="title-medium-dark size-md">
                                        <a href="details.aspx">NEET UG Counselling 2023: इस सप्ताह शुरू हो सकती है नीट यूजी काउंसलिंग, MCC जल्द जारी करेगा Schedule</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-6">
                                <div class="mb-25 position-relative">
                                    <a class="img-opacity-hover">
                                        <img src="~/Content/img/news/news115.jpg" alt="news" class="img-fluid width-100 mb-15">
                                    </a>
                                    <div class="post-date-dark">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>February 10, 2023
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="title-medium-dark size-md">
                                        <a href="details.aspx">NEST Result 2023: नेशनल एंट्रेंस स्क्रीनिंग टेस्ट रिजल्ट घोषित, nestexam.in पर चेक करें नतीजे</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-6">
                                <div class="mb-25 position-relative">
                                    <a class="img-opacity-hover">
                                        <img src="~/Content/img/news/news116.jpg" alt="news" class="img-fluid width-100 mb-15">
                                    </a>
                                    <div class="post-date-dark">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>March 06, 2023
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="title-medium-dark size-md">
                                        <a href="details.aspx">पंजाब स्कूल बोर्ड और पंजाबी यूनिवर्सिटी ने बारिश के चलते परीक्षाएं की स्थगित, जानें लेटेस्ट अपडेट</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-6">
                                <div class="mb-25 position-relative">
                                    <a class="img-opacity-hover">
                                        <img src="~/Content/img/news/news117.jpg" alt="news" class="img-fluid width-100 mb-15">
                                    </a>
                                    <div class="post-date-dark">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>May 17, 2023
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="title-medium-dark size-md">
                                        <a href="details.aspx">AIIMS NExT 2023: आज ही करें मॉक नेशनल एग्जिट टेस्ट के लिए रजिस्ट्रेशन, शाम 5 बजे तक ही ओपेन रहेगी विंडो</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top Story Area End Here -->
