@model UjalaCityNews1.Models.NewsPosts
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Post Style 3 Page Area Start Here -->
<section class="bg-body section-space-less30">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="position-relative mb-50-r">
                    <a class="img-opacity-hover" href="single-news-1.html">
                        <img src="@Model.ImagePath" alt="news" class="img-fluid width-100 mb-30">
                    </a>
                    <div class="post-date-dark">
                        <ul>
                            <li>
                                <span>by</span>
                                <a href="single-news-1.html">@Model.Name</a>
                            </li>
                            <li>
                                <span>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>@Model.Date.Value.ToString("MMMM d, yyyy")
                            </li>
                        </ul>
                    </div>
                    <h3 class="title-medium-dark size-c26">
                        <a href="single-news-1.html">@Model.EnglishTitle</a>
                    </h3>
                    <p>
                        @Model.Description
                    </p>
                </div>
            </div>
            <div class="ne-sidebar sidebar-break-md col-lg-4 col-md-12">
                <div class="sidebar-box">
                    <div class="position-relative mb30-list bg-body">

                        <div class="media">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news-117.jpg" alt="news" class="img-fluid">
                            </a>
                            <div class="media-body" style="padding-left:35px;">
                                <div class="post-date-dark">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>February 10, 2017
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="title-medium-dark mb-none">
                                    <a href="single-news-2.html">Can Be Monit roade year with Program.</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative mb30-list bg-body">
                        <div class="media">
                            <a class="img-opacity-hover" href="single-news-2.html">
                                <img src="~/Content/img/news/news118.jpg" alt="news" class="img-fluid">
                            </a>
                            <div class="media-body" style="padding-left:35px;">
                                <div class="post-date-dark">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>June 06, 2017
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="title-medium-dark mb-none">
                                    <a href="single-news-3.html">Can Be Monit roade year with Program.</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative mb30-list bg-body">
                        <div class="media">
                            <a class="img-opacity-hover" href="single-news-3.html">
                                <img src="~/Content/img/news/news119.jpg" alt="news" class="img-fluid">
                            </a>
                            <div class="media-body" style="padding-left:35px;">
                                <div class="post-date-dark">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>August 22, 2017
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="title-medium-dark mb-none">
                                    <a href="single-news-1.html">Can Be Monit roade year with Program.</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative mb30-list bg-body">
                        <div class="media">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news120.jpg" alt="news" class="img-fluid">
                            </a>
                            <div class="media-body" style="padding-left:35px;">
                                <div class="post-date-dark">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>February 10, 2017
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="title-medium-dark mb-none">
                                    <a href="single-news-2.html">Can Be Monit roade year with Program.</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative mb30-list bg-body">
                        <div class="media">
                            <a class="img-opacity-hover" href="single-news-1.html">
                                <img src="~/Content/img/news/news121.jpg" alt="news" class="img-fluid">
                            </a>
                            <div class="media-body" style="padding-left:35px;">
                                <div class="post-date-dark">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>February 10, 2017
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="title-medium-dark mb-none">
                                    <a href="single-news-2.html">Can Be Monit roade year with Program.</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Post Style 3 Page Area End Here -->
