@model IList<UjalaCityNews1.Models.NewsPosts>
@{
    Layout = null;
}

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="me-3 confirm-text2" href="javascript:void(0);" data-postId="@item.Id">
                    <img src="~/Content/Admin/img/icons/delete.svg" alt="img">
                </a>
            </td>
            <td class="text-wrap"><a target="_blank" href="/Admin/AddNews?id=@item.Id">@item.EnglishTitle</a></td>
            <td>
                @item.Name
            </td>
            <td>@item.Category</td>
            <td>@item.Tag</td>
            <td>@item.DateString</td>
            <td class="productimgname">
                <a class="product-img">
                    <img src="@item.ImagePath" alt="product">
                </a>
            </td>
        </tr>
    }
}


<script src="~/Content/Admin/plugins/sweetalert/sweetalerts.min.js"></script>
<script>
    $(() => {
        $(".confirm-text2").on("click", function () {
            let valss = $(this).data("postid");
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",  // Use `icon` instead of `type` for the latest SweetAlert2 version
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
                confirmButtonClass: "btn btn-primary",
                cancelButtonClass: "btn btn-danger ml-1",
                buttonsStyling: false,
            }).then(function (result) {
                if (result.isConfirmed) {
                    fetch('/Admin/DeletePost', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ id: parseInt(valss) }),
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            // On success
                            Swal.fire({
                                icon: "success",
                                title: "Deleted!",
                                text: "Your post has been deleted.",
                                confirmButtonClass: "btn btn-success",
                            }).then(function () {
                                location.reload();
                            });
                        })
                        .catch(error => {
                            // On failure
                            Swal.fire({
                                icon: "error",
                                title: "Error!",
                                text: "There was an error deleting the post.",
                                confirmButtonClass: "btn btn-danger",
                            });
                        });
                }
            });
        });

    })
    
</script>