@model IList<UjalaCityNews1.Models.NewsPosts>
@{
    Layout = null;
}

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <tr>
            <td class="text-wrap"><a target="_blank" href="/Admin/AddNews?id=@item.Id">@item.EnglishTitle</a></td>
            <td>
               @item.Name 
            </td>
            <td>@item.Category</td>
            <td>@item.Tag</td>
            <td>@item.Date</td>
            <td class="productimgname">
                <a class="product-img">
                    <img src="@item.ImagePath" alt="product">
                </a>
            </td>
        </tr>
    }
}
